.card {
    margin: auto;
    --main-color: #000;
    --bg-color: #EBD18D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--bg-color);
    border-radius: 20px;
    min-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}

.terkep {
    width: 80%;
    display: flex;
    justify-content: center;
}

.gombok {
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 500px) {
        flex-direction: column;
        padding-bottom: 3%;
    }
}

button {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.wrapper {
    display: flex;

    @media only screen and (max-width: 500px) {
        justify-content: center;
    }

    gap: 10px;
    font-family: monospace;
}

.wrapper>div {
    text-align: center;
}

.wrapper>div+div {
    border-inline-start: 1px solid #d6cfcf;
    padding-inline-start: 15px;
}

.wrapper>div>p {
    margin-top: 15px;
    max-width: 200px;
}

.wrapper a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #d5ad72;
    position: relative;
}

.data-tooltip::before,
.data-tooltip::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.2s ease;
}

.data-tooltip::before {
    content: attr(data-tooltip-content);
    width: fit-content;
    font-size: small;
    font-weight: 600;
    background-color: inherit;
    padding: 3px 10px;
    border-radius: 4px;
    bottom: calc(100% + 5px);
}

.data-tooltip::after {
    content: "";
    border-top: 5px solid #191919;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: calc(100% + 1px);
}

.data-tooltip:hover::before,
.data-tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}